body {
  background-color: #cb6363;
}

::placeholder {
  color: #fff !important;
}

.container {
  max-width: 500px;
}

input[type=text],
input[type=text]:focus {
  color: #fff;
  border: none;
  background-color: rgba(0,0,0,0.2);
  max-width: 500px;
}

.todos li{
  background-color: #d87e7e;
  border: 1px solid #cb6363;
  color: #fff;
  margin-block: .2rem;
}

.delete{
  cursor: pointer;
}

.btn {
  font-size: 1.5rem;
}
.icon {
  padding-right: 1rem;
}

.filtered {
  display: none !important;
}